*.csv
*.egg-info/
*.pyc
*~
.*.sw?
.DS_Store
.activate
.bash_history
.coverage
.directory
.env
.idea/*
.local/
.psql_history
.python_history
.tox
.vscode/
MANIFEST
build/*
data/*
dist/*
docker/data
docker/env/*.local
download.sh
reg_settings.py
