# db service
export POSTGRES_HOST=db
export POSTGRES_PORT=5432
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=postgres
export POSTGRES_DB=postgres

# main service
export DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@l${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"
