# db service
export POSTGRES_HOST=db
export POSTGRES_PORT=5432
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=82bc8f85fbc2e1bc82b175a0afe8b2c0debe9a14023e3231
export POSTGRES_DB=postgres

# main service
export DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"
